<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Cours de tous les actifs en temps réel</title>
</head>
<body>
  <div ng-controller="MainController">
    <h1>Cours de tous les actifs en temps réel</h1>
    <input type="text" ng-model="filterText" placeholder="Filtrer les actifs">
    <label for="sortCheckbox">Trier par % d'évolution :</label>
    <input type="checkbox" id="sortCheckbox" ng-model="sortDescending">
    <table>
      <tr>
        <th>Actif</th>
        <th>Prix actuel</th>
        <th>Prix d'ouverture</th>
        <th>% d'évolution</th>
      </tr>
      <tr ng-repeat="asset in sortedAssets | filter: filterText">
        <td>{{ asset.s }}</td>
        <td>{{ asset.c }}</td>
        <td>{{ asset.o }}</td>
        <td>{{ getPercentageChange(asset.c, asset.o) }}</td>
      </tr>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
